.button {
  --ui-100: #fff;
  --primary-100: #009fff;
  --primary-200: #005fff;
  --primary-300: #001fff;

  --button-text-color: var(--ui-100);
  --button-background-color: var(--primary-100);
  --button-background-color-hover: var(--primary-200);
  --button-background-color-focus: var(--primary-200);
  --button-box-shadow: none;
  --button-box-shadow-focus: 0 0 0 2px var(--primary-300);
  --button-border-radius: 0.25rem;
  --button-padding: 0.5rem 1rem;

  border: none;
  outline: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  box-shadow: var(--button-box-shadow);
  padding: var(--button-padding);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--button-border-radius);

  &:hover {
    background-color: var(--button-background-color-hover);
  }

  &:focus {
    background-color: var(--button-background-color-focus);
    box-shadow: var(--button-box-shadow-focus);
  }
}
